@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.card-link {
    background-color: #383268;
    display: block;
    padding: 10px;
    color: white;
    width:250px;
    text-align: center;
    margin-bottom:50px
}
.card-link:hover{
    color:#a9a39d
}
/* NAV */
.logo {
    margin-top: 100px;
    width: 100% !important;
}
.bg-light {
    background-color: transparent!important;
    height: 100px;
    padding: 30px;
}
body nav.navbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-top: 13px;
}
ul.nav {
    background-color: #001c41 !important;
    margin-top: 0px;
}
ul.nav a {
    color: white;
}
.nav {
    display: inherit;
    float: right;
    background-color: transparent !important;
    padding: 0px;
}
.nav-link:hover {
    transition: all 0.3s ease-in-out;
    color: #a9a39d;
}
.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
    background-color: white;
    z-index: 10;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
/*--------------------INTRO-----------------------------*/
.title{
    margin-top: 1.875rem;
    color: #311F4F;
    font-weight: 800;
    font-size: 3.125rem;
}
.sub-title{
    display: inline-block;
    padding: 0 15px;
    color: #FFFFFF;
    background-color: #6058B5;
    border-radius: 15px;
}
.bg-intro{
    padding: 15px 0 0 15px;
    width: 100%;
    background-color: #bebce12e;
    margin-bottom: 1.875rem;
}
.bg-intro div p{
    color: #311F4F;
    margin-top: 3rem;
}


/*--------------------- MAIN --------------------------*/
.title-info{
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 210px;
}

.title-info span{
    padding: 5px;
}
.title-info div{
    padding: 11px;
    color: #FFFFFF;
    font-weight: bold;
}
.info{
    margin: 0 25px;
    padding: 10px 20px 3px ;
    background-color: #F7F7FB;
    border-radius: 0 0 25px 25px;
    height: 70%;
}
.cifra{
    color: #311F4F;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.bajada{
    color: #311F4F;
    font-size: 85%;
    font-weight: 600;
}
.cifra2{
    color: #311F4F;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.bajada2{
    color: #311F4F;
    font-size: 70%;
    font-weight: 600;
    margin-bottom: 0;
}
.bg-1{
    background-color: #BEBCE1;
    border-radius: 5px 0 0 5px;
}

.bg-2{
    background-color: #6058B5;
    border-radius: 0 5px 5px 0;
    line-height: 16px;
}

.bg-3{
    background-color: #FEEEAB;
    color: #311F4F !important;
    border-radius: 0 5px 5px 0;
    line-height: 16px;
}
.bg-4{
    background-color: #6058B5;
    border-radius: 5px 0 0 5px;
}
/* MODAL*/
.close{
    color: #6058B5;
    font-size: 15px;
    font-weight: normal;
}


.modal-header {
padding: 1rem 2rem;
}
.modal-contentt{
    background-color: #F7F7F7;
    border:none;
    border-radius: 40px;
}
.modal-body {
    color: #311F4F;
    padding: 1.5rem 1.5rem 0;
}

.bg-preFooter{
    background-image: url("https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Beneficios-Sociales/img/bg-pre-footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}
.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}
.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}
ul li {
    padding-bottom: 15px;
}
.separador {
    color: #0F69C4;
}


/*------------------MEDIA QUERYS--------------------*/
@media (max-width: 992px) {
    .logo {
        height: 30px;
        margin-top: -35px;
    }

}

@media (max-width: 780px){
    .hero {
        height: 400px;
    }
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    .title{
        font-size: 30px;
    }
    .sub-title{
        font-size: 20px;
    }
}
